{
  "presets": [
    "es2015",
    "node6"
  ],
  "plugins": [
    "transform-class-properties", 
    "babel-polyfill", 
    "transform-regenerator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
